<div class="card">
  <div class="card-body">
    <h5 class="card-title">Destination: {{destinationCity}} {{destinationState}} !</h5>
    <p class="card-text">Here are the details about this trip:</p>
    <p>Leaving from: {{departCity}} {{departState}}</p>
    <p>Time of Departure: {{dt}}</p>
    <p>{{details}}</p>
    <button id="joinTrip" class="btn btn-primary" data-id="{{id}}" data-seatsUpdate="{{seats}}">Join Trip</a>
  </div>
</div>