<div class="card my-3">
  <div class="card-body">
    <h5 class="card-title">{{departCity}} , {{departState}} -TO- {{destinationCity}} , {{destinationState}}</h5>
    <h6 class="card-subtitle mb-2">{{dt}}</h6>
    <p class="card-text">Number of seats available: {{seats}}</p>
     <p class="card-text">{{details}}</p>
      <button class="joinTrip join-btn" data-id="{{id}}" data-seats="{{seats}}">Join Trip</a>
  </div>
</div>